<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Project">
  <test name="login test case">
    <classes>
      <class name="com.wipro.testcases.TC_01_Login"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="search test case">
    <classes>
      <class name="com.wipro.testcases.TC_02_SearchProduct"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
